<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-6">

        </div>
        
        <div class="col-lg-4">
            <a href="#localizacao">Localização</a> 
            <a href="#horario">Horários dos cultos</a> 
        </div>

        <div class="col-lg-4">
            <a href="https://web.facebook.com/iasdcoat/?_rdc=1&_rdr" target="_blank" ><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/iasdcoat/" target="_blank" ><i class="bi bi-instagram"></i></a>
        </div>


    </div>
